
body{
    background-image:url(../Fondo.jpg);
    font-family: 'Courier New', Courier, monospace;
    text-aling: center;

}
header {
    border-style: dotted;

    color: #ffffff;
    text-align: center;
   }
   nav {
    background-color: #31a84f;
   }
   nav ul {
    list-style: none;
   }
   #menuPrincipal ul li {
    display: inline;
   }
   a {
    text-decoration: none;
    color: #ffffff;
   }
   a:hover {
    color: black;
    background: yellow;
  }
   h2 {
    background-color: #31a84f;
    color: #ffffff;
   }
   
   article {
    
    background-color: #31a84f;
    border-radius: 15px;
   }
   footer {
    border-radius: 0cap;
    
    color: #ffffff;
    text-align: center;
   }            
   main{
       
    border-radius: 0cqb;
   }
    header{
        padding: 10px 10px;
    }
    h1{
        margin: 0px 0px 15px 0px;
    }
    nav ul{
        padding: 0px;
    }
    nav ul li{
        margin: 0px 15px;
    }
    a{
        padding: 10px 20px;
    }
    h2{
        padding: 10px;
        border-radius: 15px;
    }
    article{
        margin: 0px 0px 10px 0px;
        padding: 10px;
    }
    footer{
        margin: 0px 0px 20px 0px;
        padding:10px;
