
body{
    font-family: 'Courier New', Courier, monospace;
    background-color:#eeeeee ;
}
header {
    border-style: dotted;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
   }
   nav {
    background-color: #444444;
   }
   nav ul {
    list-style: none;
   }
   #menuPrincipal ul li {
    display: inline;
   }
   a {
    text-decoration: none;
    color: #ffffff;
   }
   a:hover {
    color: black;
    background: yellow;
  }
   h2 {
    background-color: #333333;
    color: #ffffff;
   }
   
   article {
    border: 1px solid #cccccc;
    background-color: #ffffff;
   }
   footer {
    border-radius: 0cap;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
   }            
   main{
    border-radius: 0cqb;
   }
    header{
        padding: 15px 20px;
    }
    h1{
        margin: 0px 0px 15px 0px;
    }
    nav ul{
        padding: 0px;
    }
    nav ul li{
        margin: 0px 15px;
    }
    a{
        padding: 10px 20px;
    }
    h2{
        padding: 10px;
    }
    article{
        margin: 0px 0px 10px 0px;
        padding: 10px;
    }
    footer{
        margin: 0px 0px 20px 0px;
        padding:10px;
